.*
.commitlintrc.js
.czrc
.editorconfig
.gitattributes
.github/
.gitignore
.husky/
.lintstagedrc
.markdownlintignore
.markdownlintrc
.prettierignore
.prettierrc
.releaserc
.vscode-test/
.vscode/
CHANGELOG.md
CONTRIBUTING.md
package-lock.json
vsc-extension-quickstart.md

node_modules/
